body {
    background-color:#EBEBEB;
}
#heading {
    background-color: #084d68b4;
    margin-bottom: 15px;
    padding: 20px 20px ;
}
.left {
 align-content: initial;
}

#trivia_title {
    color: #EBEBEB;
}

#leader_title {
    color: #EBEBEB;
}

.button_buffer {
    padding-top: 50px;
}
.container_buffer {
    padding-top: 60px;
}
.buffer_below {
    padding-bottom: 30px;
}
.questions_font {
    font-size: large;
    font-weight: bold;
}
#choice-button {
    margin-bottom: 10px;
}
#font-color{
    color: red;
}