body {
    background-color:#EBEBEB;
}
#heading {
    background-color: #084d68b4;
    margin-bottom: 15px;
    padding: 20px 20px ;
}
.left {
text-align: center;
}

#trivia_title {
    color: #EBEBEB;
}

#leader_title {
    color: #EBEBEB;
}

.button_buffer {
    padding-top: 10px;
}
.container_buffer {
    padding-top: 30px;
}
.buffer_below {
    padding-bottom: 25px;
}
.questions_font {
    font-size: medium;
    font-weight: bold;
}
#choice-button {
    margin-bottom: 10px;
}

.buffer_below_question {
    padding-bottom: 12px;
}

/* #leader_list {
    position: relative;
    left: -10px;
  } */

#input_padding {
    margin-bottom: 10px;
}
  
.leader_top_buffer {
    padding-top: 50px;
}